# Matlab auto-save files
*.asv

# pdf files
*.pdf

# My data folder
data/

# Build Folders
build/

# Python cache folder
__pycache__/

# Rust Folders
target/

# Visual Studio cache
.vs/

# Visual Studio Build Results
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/

# mp4 videos I shouldn't have
*.mp4
video-streaming/PyAV/SomeVideo/*.jpg
video-streaming/OpenCV Video Streaming/videofile/*.jpg